<h3>Targeted Sentiment Analysis</h3>
<%= @sentiment_results %><br>
TYPE: <%= @type %><br>
SCORE: <%= @score %><br>

<%= @sentiment_results_two %><br>
TYPE: <%= @type_two %><br>
SCORE: <%= @score_two %><br>

<%= @sentiment_results_three %><br>
TYPE: <%= @type_three %><br>
SCORE: <%= @score_three %><br>
